*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex; /* всё что располагается в боди , будет размещенно по вертикали  */
}
.col {
   /* border: 1px solid black; мы каждую колонку делаем в рамке , чтобы увидеть границы */
    flex: 1;/* 1 используется , чтобы колонки распространились по ширине всего экрана */
    /* background: darkred; */
    display: flex;/* всё что располагается в col  , будет размещенно по вертикали  */
    flex-direction: column;/*Свойство flex-direction CSS задает способ размещения элементов flex в контейнере flex, определяя главную ось и направление (нормальное или обратное).*/
    justify-content: space-around;/*Свойство CSS justify-content определяет, как браузер распределяет пространство между элементами контента и вокруг них вдоль главной оси контейнера flex и встроенной оси контейнера grid.*/
    align-items: center;/*Свойство CSS align-items устанавливает align-self значение для всех прямых дочерних элементов как группы. В Flexbox оно управляет выравниванием элементов по поперечной оси. В Grid Layout он управляет выравниванием элементов по оси блока в пределах их области сетки. */

}
.col h2{
    padding: 10px;/*устанавливает область заполнения сразу на всех четырех сторонах элемента.*/
    color: #fff;
    border-radius: 10px;/*округляет углы внешнего края границы элемента*/
    transition: background  0.3s;

}
.col h2:hover{/* пользователь взаимодействует с элементом с помощью указывающего устройства, но не обязательно активирует его. Обычно это срабатывает, когда пользователь наводит курсор на элемент*/
    background: rgba(0, 0, 0, 0.1);;
    cursor: pointer;/*устанавливает курсор мыши, если таковой имеется, таким образом, чтобы он отображался, когда указатель мыши находится над элементом.*/
}
.col button{
    outline: none;
    border: none; /*убирает рамку вокруг кнопки*/
    background: transparent;/*делает всё сзади икоки прозрачным*/
    font-size: 1.5rem;/*увеличиваем размер иконки*/
    color: #fff;
    padding: 10px;/*устанавливает область заполнения сразу на всех четырех сторонах элемента. */
    border-radius: 10px;/*округляет углы внешнего края границы элемента*/
    transition: background  0.3s;
}
.col button:hover{
    background: rgba(0, 0, 0, 0.1);;
    cursor: pointer;/*устанавливает курсор мыши, если таковой имеется, таким образом, чтобы он отображался, когда указатель мыши находится над элементом.*/
}